body {
    font-family:"Microsoft YaHei",verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:14px;
    margin:10px;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
#menuLeft ul{
	padding:0;
	margin:0;
	border:0;
	margin:-1px;
}
#menuLeft li a{
    text-decoration: none;
    color: #333;
    padding-left:5px;
}
#menuLeft li{
	margin:0 15px ;
	line-height:20px;
	color: #333;
    position: relative;
    display: block;
    padding: 10px 0px;
    background-color: #fff;
    border-bottom:1px solid #ddd;
}	

/*宽度充满的表格*/
.tbl-fullwidth{
	margin:5px;
	width:98%;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

.tbl-fullwidth th {
	background-color: #dedede;
}
.tbl-fullwidth tr {
}
.tbl-fullwidth td {
	border:solid #F5F5F5; border-width:0px 1px 1px 0px; 
	border-width: 1px;
	padding: 5px;
}

/*阴影*/
.yy{box-shadow:0 0 10px #a9a9a9; -webkit-box-shadow:0 0 10px #a9a9a9; -moz-box-shadow:0 0 10px #a9a9a9;}

/*面板大标题*/
.panel-header-x{
	height:28px;
	color:#BBB;
}
.panel-header-x div{
	font-size:16px;
	line-height:28px;
}
.panel-header-x .panel-icon{
	margin-top: -14px;
    overflow: visible;
    left:8px;
 }
 
 /*泡泡数字*/
 .bubble,.bubble2{
 	color: #ddd;
    padding: 1px 5px 1px;
    margin: -3px 2px 0;
    background: #777;
    border-radius: 10px;
    font-size: 8px;
    line-height:8px;
  }
.bubble2{ 
	color: #0070a9;
	background: #e6e6e6;
}

/*水印*/
#watermark
{
position: absolute;
    left: -700px;
    top: -80px;
 opacity:0.2;
 z-index:0;
 color:#0070a9;
 line-height:90px;
 -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  overflow:hidden;
}

hr {
    padding-bottom: .21428571rem;
    height:0px;
    border:0;
    border-bottom: 1px solid rgba(34,36,38,.15);
}